## Redis
# If you don't want to use redis leave it empty or comment it.
REDIS_URL=rediss://default:AeIjAAIncDEwNzdmMmM3MzEyMTI0ODE1OTk5ZjNkN2ZmNmRhOTE0OHAxNTc4OTE@known-feline-57891.upstash.io:6379

## Translate Vietnamese Supabase / GEMINIKEY
SUPABASE_URL=https://joeauwxiatzixfmkqsdw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvZWF1d3hpYXR6aXhmbWtxc2R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE3Mjg0MzksImV4cCI6MjA2NzMwNDQzOX0.F0DXVCLXGA7vPllcL8bb9fv5sTmzGff_RNgDTBrtbFA
GEMINI_API_KEY=AIzaSyBrR6dBdGHLHx-NG40d5jodsxg8qQ8WxQM

## AniList
GRAPHQL_ENDPOINT=https://graphql.anilist.co
ANILIST_CLIENT_ID=27537
ANILIST_CLIENT_SECRET=6LqHVbPl3nbc86aGMi0SXPHeIgnCtI959gfiQqqF

## NextAuth Details
NEXTAUTH_SECRET=XjodJeosKO9K3+VRwBDhMfhwXC2pf7S2kr0tbuzg5Ws=
NEXTAUTH_URL=http://localhost:3000

## NextJS
NEXT_PUBLIC_PROXY_URI="Use a proxy if u wish, not mandatory"
##"host your own API from this repo https://github.com/consumet/api.consumet.org. Don't put / at the end of the url."
CONSUMET_URI=http://localhost:5000

## Optional 
MALSYNC_URI=https://api.malsync.moe/mal/anime/ ## Dont worry if it not works they ban ips so cant do anything
##hianime.cx url = zoro url
##"host your own API from this repo https://github.com/ghoshRitesh12/aniwatch-api. Don't put / at the end of the url."
ZORO_URI=http://localhost:4000/api/v2/hianime
##api for Zenime
ZENIME_URL="host your own API from this repo https://github.com/itzzzme/anime-api?tab=readme-ov-file. Don't put / at the end of the url."
##api Anify
ANIFY_URL="host your own API from this repo https://github.com/Eltik/Anify. Don't put / at the end of the url."
##api animepahe
ANIMEPAHE_URL=https://animepahe.ru/play/{anime_session}/{session}

## MongoDB
MONGODB_URI=mongodb+srv://duynguyen19087:hongduy1907@cluster0.c7r7olo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

## Deployment URLs
NEXT_PUBLIC_DEV_URL=http://localhost:3000  # This is the URL for your current local development environment.
NEXT_PUBLIC_PRODUCTION_URL="Your deployement URL. Don't put / at the end of the url"

## In AniList Developer console add redirect url :
# https://{your-domain}/api/auth/callback/AniListProvider

