.genrecard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.genrehead {
    display: flex;
    gap: 8px;
    align-items: center;
}

.genrebar {
    width: 0.3rem;
    height: 2rem;
    border-radius: 0.375rem;
    background-color: white;
}

.genretitle {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    color: white;
}

.genreitems {
    position: relative;
}

.leftarrow,
.rightarrow {
    position: absolute;
    display: flex;
    align-items: center;
    height: 97%;
    z-index: 20; /* cao hơn .cardcontainer */
    transition: all 300ms ease-out !important;
    cursor: pointer;
   pointer-events: auto; /* nhận sự kiện click */
}

.leftarrow {
    left: 0;
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.02));
}

.rightarrow {
    right: -0.6px;
    background: linear-gradient(to left, #000000, rgba(0, 0, 0, 0.02));
    height: 98%;
}

.arrowactive svg {
    opacity: 1;
}

.arrowinactive svg {
    opacity: 0.6;
}

.genrecontainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
    padding-left: 0.75rem;
}

.genrecontainer::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1280px) {
    .genretitle {
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .leftarrow {
        width: 10px;
    }

    .leftarrow svg {
        display: none;
    }

    .genrecard {
        margin: 5px auto;
    }

    .genretitle {
        margin: 8px 0;
        font-size: 19px;
    }

    .genrebar {
        width: 0.35rem;
        height: 1.5rem;
    }
}

@media (max-width: 600px) {
    .genrecontainer {
        gap: 8px;
    }

    .rightarrow {
        height: 90%;
        right: 0;
    }

    .rightarrow svg {
        width: 25px;
        height: 25px;
    }
}
